.fig {
    text-align: center;
	color: #639A00;
   }	

.imp {
	font-family: Arial;
	text-align: center;
	color: #ffffff;
   }

h1 {
	font-family: Arial;
    text-align: center;
	color: #ffffff;
   }
	
 body {
    background-color: #000000;
   }   