.fig {
	text-align: center;
	box-shadow: 0 0 5px;	
	padding: 7px;
   }	

.imp {
	font-family: Arial;
	text-align: center;
	color: #ffffff;
   }

h1 {
	font-family: Arial;
    text-align: center;
	color: #ffffff;
   }
	
 body {
    background-color: #ffffff;
   }   